.container{
    margin-top: 50px;
    margin-bottom: 40px;
}
.heading{
    font-size: 3em;
}
.form{
    margin:auto;
    width: 80%;
}
.playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
.playlist {
  width: 300px;
  margin: 10px;
}

.playlist .card-body {
  text-align: center;
}

.playlist img {
  max-width: 100%;
  height: auto;
}

.videos-page {
  padding: 20px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.video-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.create-video-form {
  margin-top: 20px;
}

.create-video-form input {
  margin-bottom: 10px;
}

.create-video-form button {
  margin-top: 10px;
}
.navbar-toggler {
  color: #fff; /* Hamburger icon color */
  font-size: 24px;
  border: none; /* Remove default border */
  background: transparent; /* Transparent background */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Add animation to hamburger icon */
.navbar-toggler span {
  transition: transform 0.3s ease; /* Smooth transition */
}

/* Rotate hamburger icon when menu is toggled */
.navbar-toggler.collapsed span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-toggler.collapsed span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.collapsed span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

/* Style for collapsed menu */
.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  border-top: 1px solid #fff; /* Add border to separate from navbar */
}

.navbar-nav .nav-link {
  padding: 10px; /* Add padding to menu items */
  font-size: 18px; /* Increase font size */
  color: #fff; /* Menu item color */
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
}