.container{
    margin-top: 50px;
    margin-bottom: 40px;
}
.heading{
    font-size: 3em;
}
.form{
    margin:auto;
    width: 80%;
}
.playlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
.playlist {
  width: 300px;
  margin: 10px;
}

.playlist .card-body {
  text-align: center;
}

.playlist img {
  max-width: 100%;
  height: auto;
}

.videos-page {
  padding: 20px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.video-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.create-video-form {
  margin-top: 20px;
}

.create-video-form input {
  margin-bottom: 10px;
}

.create-video-form button {
  margin-top: 10px;
}